/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: #0a0a0a;
  color: white;
  font-family: 'Gugi', cursive;
  letter-spacing: 1px;
  line-height: 30px;
}
h1 {
  font-size: 2rem;
  margin: 10px 0;
}
p {
  font-size: 1.2rem;
}
/* End Meyer reset */
.container {
  background-color: #f7f7f7;
}
.container header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  background-color: black;
  padding: 10px 0 10px 0;
  margin: 0 0 60px 0;
  z-index: 5;
}
.container header h1 {
  font-size: 2.4rem;
  margin: 20px 0 20px 0;
  background-color: black;
  font-family: 'FantasqueSansMonoRegular';
  font-weight: normal;
  font-style: normal;
}
.container header .nav-bar {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: black;
  margin: 10px;
}
.container header .nav-bar a {
  color: white;
  margin: 10px;
  text-decoration: none;
  border-top: 1px dashed white;
  font-family: 'GlacialIndifferenceRegular';
  font-weight: 300;
  font-style: normal;
  padding: 5px 0 0 0;
}
.container .banner {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0 10px 0;
  object-fit: cover;
  max-width: 100%;
}
.container .banner .special-div {
  position: relative;
  width: 100%;
}
.container .banner .special-div .banner-img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.container .banner .special-div .overlay {
  top: 40px;
  Width: 100%;
  font-size: 4rem;
  line-height: 5rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  object-fit: cover;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}
.container .testimonials {
  margin: 30px 0 20px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: flex-start;
  justify-content: space-evenly;
}
.container .testimonials .test-h2 {
  font-size: 1.8rem;
  color: #242021;
  margin: 40px 0 20px 0;
  display: none;
  /*display = none*/
  font-family: 'GlacialIndifferenceRegular';
  font-weight: 700;
  font-style: normal;
}
.container .testimonials .test {
  display: flex;
  color: #242021;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  object-fit: cover;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 20px;
  border: 3px solid black;
  margin: 5px;
  width: 20%;
}
@media (min-width: 600px) {
  .container .testimonials .test #test-1 {
    height: 800px !important;
  }
  .container .testimonials .test #test-2 {
    height: 800px !important;
  }
  .container .testimonials .test #test-3 {
    height: 800px!important;
  }
}
.container .testimonials .test .test-face {
  margin: 0 0 20px 0;
  color: #242021;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  object-fit: cover;
  width: 100%;
  max-height: 50%;
}
.container .testimonials .test .test-face img {
  margin: 20px 0 0 0;
  object-fit: cover;
  border: 5px solid black;
  max-height: 400px;
}
.container .testimonials .test .test-h3 {
  font-size: 1.7rem;
  padding: 10px;
  color: #242021;
  border-top: 2px dashed black;
  border-bottom: 2px dashed black;
  font-family: 'GlacialIndifferenceRegular';
  font-weight: 700;
  font-style: normal;
}
.container .testimonials .test .test-text {
  margin: 0 0 20px 0;
  padding: 10px;
  text-align: left;
  line-height: 1.7em;
  width: 80%;
  color: #242021;
  border-left: 3px dashed black;
  border-right: 3px dashed black;
  font-family: 'ProzaLibreRegular';
  font-weight: normal;
  font-style: normal;
}
.container .action-call {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container .action-call .btn-1 {
  margin: 10px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  background: #d52349;
  color: white;
  font-weight: 700;
  outline: 0;
  padding: 10px;
  font-size: 1.6rem;
  width: 80%;
  border: 2px solid #252122;
  max-width: 400px;
}
.container .action-call .btn-2 {
  margin: 10px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  background: #252122;
  color: white;
  font-weight: 700;
  outline: 0;
  padding: 10px;
  font-size: 1.6rem;
  width: 80%;
  border: 2px solid #d52349;
  max-width: 400px;
}
.container .workouts {
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  max-width: 100%;
}
.container .workouts .workout-h2 {
  font-size: 2.4rem;
  color: black;
}
.container .workouts .workout {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 3px solid black;
  max-height: 100%;
  max-width: 400px;
}
.container .workouts .workout .workout-img img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  max-height: 200px;
  border: 5px solid black;
  margin-top: 10px;
}
.container .workouts .workout .workout-h3 {
  font-size: 1.7rem;
  margin: 10px 0 10px 0;
  border-top: 2px dashed black;
  border-bottom: 2px dashed black;
  color: black;
  padding: 10px 0 10px 0;
  font-style: bold;
  font-family: 'FantasqueSansMonoRegular';
  font-weight: normal;
  font-style: normal;
}
.container .workouts .workout .workout-text {
  text-align: left;
  border-left: 3px dashed black;
  border-right: 3px dashed black;
  color: black;
  margin: 20px;
  padding: 10px;
  font-family: 'ProzaLibreRegular';
  font-weight: normal;
  font-style: normal;
}
.container .workouts .workout .workout-button {
  display: none;
  border: 1px dashed red;
}
.container .schedule-h2 {
  text-align: center;
  font-size: 2.4rem;
  color: black;
  font-family: 'GlacialIndifferenceRegular';
  font-weight: normal;
  font-style: normal;
}
.container .schedule {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.container .schedule .schedule-example {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin: 20px 20px 20px 20px;
}
.container .schedule .schedule-example .schedule-date {
  width: 60px;
  height: 40px;
  position: relative;
  background: red;
  font-size: 1.1rem;
  font-family: 'FantasqueSansMonoRegular';
  font-weight: normal;
  font-style: normal;
}
.container .schedule .schedule-example .schedule-date:before {
  /*the shape below was copied from csstricks.com*/
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid red;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.container .schedule .schedule-example .schedule-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0 20px 80px;
  padding: 15px;
  border: 4px solid red;
}
.container .schedule .schedule-example .schedule-child .schedule-text {
  margin: 0 0 0 0;
  text-align: left;
  font-family: 'ProzaLibreRegular';
  font-weight: normal;
  font-style: normal;
}
.container .team {
  display: none;
  margin: 20px 0 20px 0;
  border: 1px dashed red;
}
.container .team .team-h2 {
  margin: 20px 0 20px 0;
  border: 1px dashed red;
}
.container .team .team-img img {
  display: none;
  border: 1px dashed red;
}
.container .team .team-text {
  display: none;
  border: 1px dashed red;
}
.container .footer {
  background-color: black;
  color: white;
  margin-top: 30px;
  padding-top: 50px;
  font-family: 'ProzaLibreRegular';
  font-weight: normal;
  font-style: normal;
}
.container .footer .footer-btn {
  display: none;
}
.container .footer .footer-h2 {
  font-family: 'GlacialIndifferenceRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 1.8rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 20px 40px 20px 40px;
}
.container .footer .footer-icons {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 20px 0 20px 0;
}
.container .footer .footer-icons i {
  margin: 20px;
}
.container .footer .contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 50px;
}
.container .footer .contacts .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 20px 0 20px 0;
}
.container .footer .contacts .contact .contact-type {
  margin: 0 100px 0 10px;
  border-bottom: 2px solid gold;
  text-align: center;
  margin-bottom: 15px;
  font-family: 'FantasqueSansMonoRegular';
  font-weight: normal;
  font-style: normal;
}
.container .footer .contacts .contact .contact-info {
  text-align: center;
  font-family: 'FantasqueSansMonoRegular';
  font-weight: normal;
  font-style: normal;
}
.container .footer .contacts .contact .contact-info #address-lines {
  text-align: center;
  font-family: 'FantasqueSansMonoRegular';
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 600px) {
  #test-1 {
    width: 80%;
  }
  #test-2 {
    width: 80%;
  }
  #test-3 {
    width: 80%;
  }
}
@media (min-width: 801px) {
  #test-1 {
    height: 850px;
  }
  #test-2 {
    height: 850px;
  }
  #test-3 {
    height: 850px;
  }
}
@media (min-width: 999px) {
  h1 {
    font-size: 2.4rem;
    color: blue;
  }
}
