/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: #0a0a0a;
  color: white;
  font-family: 'Gugi', cursive;
  letter-spacing: 1px;
  line-height: 30px;
}
h1 {
  font-size: 2rem;
  margin: 10px 0;
}
p {
  font-size: 1.2rem;
}
/* End Meyer reset */
.container header {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.container header h1 {
  font-size: 2rem;
  margin: 30px 0 5px 0;
}
.container header .nav-bar {
  display: none;
}
.container .banner .banner-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container .banner .banner-info {
  position: absolute;
  left: 50%;
  /* horizontal alignment */
  top: 40%;
  /* vertical alignment */
  transform: translate(-50%, -50%);
  /* precise centering copied these last 3 lines from stack overflow*/
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  text-align: center;
}
.container .banner .banner-info .banner-h2 {
  margin: 20px 0 70px 0;
  font-size: 1.8rem;
}
.container .banner .banner-info .banner-text {
  margin: 40px 0 20px 0;
  font-size: 1.4rem;
}
.container .testimonials {
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container .testimonials .test-h2 {
  font-size: 1.8rem;
  margin: 20px 0 20px 0;
}
.container .testimonials .test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container .testimonials .test .test-face {
  margin: 20px 0 20px 0;
  width: 300px;
  height: 300px;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container .testimonials .test .test-face img {
  height: 320px;
  margin: 20px 0 20px 0;
  width: 100%;
}
.container .testimonials .test .test-h3 {
  font-size: 1.7rem;
}
.container .testimonials .test .test-text {
  max-width: 60%;
  margin: 20px 0 20px 0;
  text-align: left;
  line-height: 1.7em;
}
.container .action-call {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .action-call .btn-1 {
  margin: 10px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  background: #d52349;
  color: white;
  font-weight: 700;
  outline: 0;
  padding: 10px;
  font-size: 1.6rem;
}
.container .action-call .btn-2 {
  margin: 10px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  background: #252122;
  color: white;
  font-weight: 700;
  outline: 0;
  padding: 10px;
  font-size: 1.6rem;
}
.container .workouts {
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container .workouts .workouts h2 {
  font-size: 1.8rem;
}
.container .workouts .workout {
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container .workouts .workout .workout-img {
  outline: 0;
}
.container .workouts .workout .workout-h3 {
  font-size: 1.7rem;
  margin: 10px 0 10px 0;
}
.container .workouts .workout .workout-text {
  width: 50%;
  text-align: center;
}
.container .workouts .workout .workout-button {
  display: none;
}
.container .schedule-h2 {
  text-align: center;
}
.container .schedule {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}
.container .schedule .schedule-example {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin: 20px 20px 20px 20px;
}
.container .schedule .schedule-example .schedule-date {
  width: 40px;
  height: 40px;
  position: relative;
  background: red;
}
.container .schedule .schedule-example .schedule-date:before {
  /*the shape below was copied from csstricks.com*/
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid red;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.container .schedule .schedule-example .schedule-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0 20px 80px;
}
.container .schedule .schedule-example .schedule-child .schedule-text {
  margin: 10px 0 0 0;
}
.container .team {
  display: none;
  margin: 20px 0 20px 0;
}
.container .team .team-h2 {
  margin: 20px 0 20px 0;
}
.container .team .team-img {
  display: none;
}
.container .team .team-text {
  display: none;
}
.container .footer {
  background-color: black;
  color: white;
}
.container .footer .footer-btn {
  display: none;
}
.container .footer .footer-h2 {
  font-size: 1.8rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 50px 0 20px 0;
}
.container .footer .footer-icons {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 40px 0 40px 0;
}
.container .footer .contacts {
  display: flex;
  flex-direction: column;
}
.container .footer .contacts .contact {
  display: flex;
  text-align: center;
  justify-content: flex-start;
  margin: 20px 0 20px 0;
}
.container .footer .contacts .contact .contact-type {
  margin: 0 100px 0 10px;
}
.container .footer .contacts .contact .contact-info {
  margin: 1px;
}
