/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset, begin design styling */

header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2rem;
    margin: 30px 0 5px 0;
}

.nav-bar {
    display: none;
}

.banner-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.banner-info {
    position: absolute;  
    left: 50%;                        /* horizontal alignment */
    top: 40%;                         /* vertical alignment */
    transform: translate(-50%, -50%); /* precise centering copied these last 3 lines from stack overflow*/
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    text-align: center;
}

.banner-h2 {
    margin: 20px 0 70px 0;
    font-size: 1.8rem;
}

.banner-text {
    margin: 40px 0 20px 0;
    font-size: 1.4rem;
}

.testimonials {
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.test-h2 {
    font-size: 1.8rem;
    margin: 20px 0 20px 0;
}

.test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.test-face {
    margin: 20px 0 20px 0;
    width: 300px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.test-face img {
    height: 320px;
    margin: 20px 0 20px 0;
}

.test-h3 {
    font-size: 1.7rem;
}

.test-text {
    max-width: 60%;
    margin: 20px 0 20px 0;
}

.action-call {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    margin: 10px;
}

.workouts {
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.workouts h2 {
    font-size: 1.8rem;
}

.workout {
    margin: 20px 0 20px 0;
}

.workout-h3 {
    font-size: 1.7rem;
}

.workout-button {
    display: none;
}

.schedule-h2 {
    text-align: center;
}

.schedule {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}

.schedule-example {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 20px 20px 20px 20px;
}

.schedule-date {
    width: 40px;
    height: 40px;
    position: relative;
    background: red;
}

/*the shape below was copied from csstricks.com*/

.schedule-date:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid red;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.schedule-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0 20px 80px;
}

.schedule-text {
    margin: 10px 0 0 0;
}

.team {
    display: none;
}

.footer {
    background-color: black;
    color: white;
}

.footer-btn {
    display: none;
}

.footer-h2 {
    font-size: 1.8rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 50px 0 20px 0;
}

.footer-links {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 40px 0 40px 0;
}

.footer-links a {
    height: 20px;
    margin: 10px 5px 5px 5px;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
    text-align: center;
    justify-content: flex-start;
    margin: 20px 0 20px 0;
}

.contact-type {
    margin: 0 100px 0 10px;
}

.team {
    margin: 20px 0 20px 0;
}

.team-h2 {
    margin: 20px 0 20px 0;
}



