//-bigger h1
//-more delineation/margin/border, especially neatly rounded
//-new nav buttons on each side dsktop only
//-hover effects on buttons
//-fix the fucking fonts!!
//-for each all the divs for js effects
//-add TEAM section: column in mobile, row in desktop with icons and address stuff
//-examine previous sprints and stuff for constructors




@media (max-width: 600px) {

    #test-1 {
        width: 80%;
    };

    #test-2 {
        width: 80%;
    };

    #test-3 {
        width: 80%;
    };

};


@media (min-width: 999px) {
    
    h1 {
        font-size: 2.4rem;
        color: blue; //this is to test that this working
    };

};