

<!--
min-width: 12em;

@media screen and (max-width: 736px)
ul.actions li .button {
    width: 100%;
}
-->


.navbar a:hover {
    background: #ddd;
    color: black;
  }
//this flips the background color of the link upon mouse hover